body {
  font-size: 9pt;
  padding: 10px;
  color: #212121;
}

body.dark {
  color: #fafafa;
}

a,
a:visited,
a:active,
a:focus {
  color: #ea80fc;
}

.dark a,
.dark a:visited,
.dark a:active,
.dark a:focus {
  color: #ce93d8;
}
